
        .pizzaPic {
            border: 1px;
            padding: 1em;
            margin: 1em;
            border-radius: 1px;
            height: 403.6893310546875px;
            width: 299.4486389160156px;
            left: -36.33685302734375px;
            top: -210.040771484375px;
            border-radius: 5px;
            flex: 1;
            align-items: center;

        }

        .img_smallpizza{
            width: 160px;
            height: 160px;
        }
        .img_mediumpizza{
            width: 180px;
            height: 180px;
        }
        .img_largepizza{
            width: 200px;
            height: 200px;
        }

        @media (min-width: 480px) {
            body {
                background-color: rgb(29, 6, 10);
                align-items: center;
                justify-content: center;
            }
        }
        @media (min-width: 680px) {
        body {
            background-color: rgb(243, 231, 233);
            align-items: center;
            justify-content: center;
        }
    }

    @media (min-width: 900px) {
        body {
            background-color: rgb(59, 6, 14);
        }
    }

        @media (min-width: 900px) {
            .pizza {
                display: flex;
                display: inline-flexbox;
                border-radius: 5px;
                align-items: center;
                align-content: center;
                
            }
        }

        h1 {
            color: #386641;
            text-align: center;
            font-family:Macondo;
            font-size: xxx-large;
            text-shadow: 5px cadetblue;
            font-weight: 1000;
    
        }

        h2 {
            color: rgb(226, 215, 215);
            display: flex;
        }
        li {
            color: white;
            font-size: larger;
        }

        footer {
            background-color: #386641;
            text-align: left;
            flex: 1;
            color: white;
            font-size: medium;
            padding: 6px;
            margin: 0.25em;
        }
        table, td, th {
            align-items: center;
            align-content: center;
            background-color: #386641;
            border: 1px solid;
            border-collapse: collapse;
            font-size: large;
            table-layout: auto;
            padding-inline-start: 1em;
            margin-inline-end: 30%;
        }
        button {
            background-color: rgb(212, 209, 24);
        }
        .trolley {
            font: bold;
        }
        p {
            font-family:Shadows Into Light;
            font-size: larger;
            text-align: center;
            color: rgb(87, 196, 25);
        }
        
    