.pizzaPic {
    border: 1px;
    padding: 1em;
    margin: 1em;
    border-radius: 1px;
    height: 403.6893310546875px;
    width: 299.4486389160156px;
    left: -36.33685302734375px;
    top: -210.040771484375px;
    border-radius: 5px;
    flex: 1;
    align-items: center;

}

.pizza {
    flex: 1;
}

.img_smallpizza {
    width: 160px;
    height: 160px;
}

.img_mediumpizza {
    width: 180px;
    height: 180px;
}

.img_largepizza {
    width: 200px;
    height: 200px;
}

@media (min-width: 480px) {
    body {
        background-color: rgb(29, 6, 10);
        
    }
    .pizza {
        align-items: center;
        flex: 1;
    }
    table {
        width: 95%;
    }
}

@media (min-width: 680px) {
    body {
        background-color: rgb(243, 231, 233);
        
    }
    .pizza {
        align-items: center;
        flex: 1;
    }
    table {
        width: 95%;
    }
}

@media (min-width: 900px) {
    body {
        background-color: #ff8600;
    }

}

@media (min-width: 900px) {
    .pizza {
        display: flex;
        display: inline-flexbox;
        border-radius: 5px;
        align-items: center;
        align-content: center;

    }
}

h1 {
    color: #cce3de;
    text-align: center;
    font-family: Macondo;
    font-size: xxx-large;
    text-shadow: 5px cadetblue;
    font-weight: 1000;

}

h2 {
    color: #b56576;
    display: flex;
}

li {
    color: #6f1d1b;
    font-size: larger;
}

footer {
    background-color: #3bceac;
    text-align: left;
    flex: 1;
    color: white;
    font-size: medium;
    padding: 8px;
    margin: 0.25em;
}

table,
td,
th {
    align-items: center;
    align-content: center;
    background-color: #3bceac;
    border: 1px solid #15616d;
    padding: 0.5em;
    margin: 2em;
    border-collapse: collapse;
    font-size: large;
    table-layout: fixed;
    width: 95%;
    margin-right: 10%;


}

button {
    background-color: #ddfc74;
}

.trolley {
    font: bold;
    text-align: right;
    padding-right: 8 px;
    padding-top: 0px;
}

.trolley {
    flex: 1;
}

.f3 {
    flex: 3;
}
.message {
    background-color: #e5e5e5;
}


p {
    font-family: Shadows Into Light;
    font-size: larger;
    text-align: center;
    color: rgb(87, 196, 25);
}